<nav>
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/catalog/foods">Foods</a></li>
    <li><a href="/catalog/categories">Categories</a></li>
    <li><a href="/catalog/ingredients">Ingredients</a></li>
  </ul>
  <br />
  <ul class="nav">
    <li><a href="/catalog/food/create">Create new food</a></li>
    <li><a href="/catalog/category/create">Create new category</a></li>
    <li><a href="/catalog/ingredient/create">Create new ingredient</a></li>
  </ul>
</nav>
